# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/
Would skip repository SpringCloud-Learning/
config-client/.gitignore
config-client/.mvn/
config-client/mvnw
config-client/mvnw.cmd

config-server/.gitignore
config-server/.mvn/
config-server/mvnw
config-server/mvnw.cmd

consumer/.gitignore
consumer/.mvn/
consumer/mvnw
consumer/mvnw.cmd

feign-consumer/.gitignore
feign-consumer/.mvn/
feign-consumer/mvnw
feign-consumer/mvnw.cmd

rabbitmq-hello/.gitignore
rabbitmq-hello/.mvn/
rabbitmq-hello/mvnw
rabbitmq-hello/mvnw.cmd

server/.gitignore
server/.mvn/
server/mvnw
server/mvnw.cmd

service/.DS_Store
service/.gitignore
service/.mvn/
service/mvnw
service/mvnw.cmd

Would skip repository spring-cloud-learning/
stream-hello/.gitignore
stream-hello/.mvn/
stream-hello/mvnw
stream-hello/mvnw.cmd

test-stream/.gitignore
test-stream/.mvn/
test-stream/mvnw
test-stream/mvnw.cmd

trace-1/.DS_Store
trace-1/.gitignore
trace-1/.mvn/
trace-1/mvnw
trace-1/mvnw.cmd

trace-2/.gitignore
trace-2/.mvn/
trace-2/mvnw
trace-2/mvnw.cmd

verification/
zipkin-server/.gitignore
zipkin-server/.mvn/
zipkin-server/mvnw
zipkin-server/mvnw.cmd

zuul/.gitignore
zuul/.mvn/
zuul/mvnw
zuul/mvnw.cmd
